        body {
            font-family: Arial, sans-serif;
            background-color: #fff3e0;
            color: #150703;
            margin: 0;
            padding: 0;
            font-size: 18px; /* Tamaño de fuente base */
        }
        header {
            background: linear-gradient(135deg, #ff7e5f, #feb47b);
            background: url('https://png.pngtree.com/background/20231101/original/pngtree-dark-technological-backdrop-with-glowing-triangles-at-center-for-hud-landing-picture-image_5838460.jpg') no-repeat center center/cover;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        main {
            margin: 100px;
        }
        section {
            background-color: #fff6f3;
            border: 5px solid #1b0b06;
            padding: 50px;
            margin-bottom: 30px;
            border-radius: 10px;
            transition: background-color 0.3s ease;
            
        }
        section:hover {
            background: linear-gradient(135deg, #ffe3dc, #feb47b); /* Cambio de color de fondo al pasar el mouse por encima */
        }
        h2 {
            color: #e64a19;
            font-size: 24px; /* Tamaño de fuente para los títulos */
         
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        .back-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ff7043;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .back-button:hover {
            background-color: #e64a19;
        }